.header{
    display:inline-block;
    margin: auto;
}

.body {
    background-image:url("images/nackground.png");
    text-align: center;
    margin: auto;
}

.navbar{
border: solid;
position: fixed;
top: 0;
width: 100%;
float:left;
display: block;
text-align: center;
text-decoration: none;
overflow: hidden;
background-color: rgb(250, 195, 203);
z-index: 2;
}

.active{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:vw;
}

.contact{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: vw;
}


.gallery{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:vw;
}

.ann{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: vw;
}

.navbar-brand {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 1cm;
   
    

}
.h1 {
    font-style:italic;
    font-size:2cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
    margin-bottom:5%;
}

.tea {
margin: auto;
display: inline-block;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:large;
}


.about{
background-image:url("images/nackground.png");
display: inline-block;
}

.aboutheader{
    display:inline-block;
    margin: auto;

}

.pabout{
font-size:0.5cm;
margin-left: 0.75cm;
margin-right:0.75cm;
}

.when{
display: inline-block;
font-size:1cm;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin:1.5cm;

}
.local{
    font-size:1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:1.5cm;
    font-style: italic;
}

.afterlocal{
font-size:0.75cm;
margin-left:5cm;
}

.oldcafe{
    margin-left:15cm;


}

.located{
margin-left: 1cm;
font-size: 0.5cm;

}

.front{
    display:flex;
    align-items: center;
    justify-content: center;
    float:center;
}

.back{
    display:flex;
    align-items:left;
    margin-right:2cm;
    justify-content: left;
    float:right
}


.inner{
    display:flex;
    align-items:left;
    margin-left: 2cm;
    justify-content: left;
    float:left;
}


.announce{
    Font-size:2cm;
    align-items:center;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page3{
    background-color: rgb(255, 217, 223);
    text-align: center;
    margin: auto;
}

.picturegallery{
    justify-content: center;
    align-items: center;
    margin-left:28%;
    margin-bottom:2cm;
    margin-top:2cm;
}